:root {
  --accent-color: #d90429;
  --text-color: #8d99ae;
  --white: #fce9e8;
  --black: #2b2d42;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a{
  color: var(--text-color);
}

body {
background: var(--black);
  color: var(--text-color);

  padding: 4em 4rem 0;
  text-align: center;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
}

img:is(.logo) {
  border-radius: 50%;
  display: block;
  margin: 0 auto;

  box-shadow: var(--black) -4px 4px 2px;
}

.hashtag {
  margin: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

nav {
  padding: 10px;
}
nav li {
  display: inline-block;
}

.presentation {
  color: var(--text-color);
  width: clamp(300px, 50%, 500px);
  margin: 10px auto;
}

.presentation p {
  text-align: center;
  font-size: medium;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.buttons {
  width: clamp(150px, 40%, 280px);
  margin: 20px auto;
}

.btn {
  display: block;
  padding: 10px;

  margin: 10px auto;

  background-color: #ef233c;
  border: 2px solid var(--black);
  box-shadow: var(--black) -4px 4px 1px;
}

.btn--short {
  width: 80%;
}

.btn:hover {
  box-shadow: var(--black) -8px 8px 4px;
}

footer {
  position: relative;

  bottom: 0;
}

hr {
  color: var(--black);
  outline: none;
  border: 2px solid var(--black);
}
