:root {
  --main:#3A4750;
  --accent-color:#A8E9FF;
  --shadow: #3D6177;
  --white: #f2f2f2;
  --black: #303841;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


body {
  background-color: var(--main);
  color: var(--white);

  padding: 4em 4rem 0;
  text-align: center;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--white);
}

img:is(.logo) {
  border-radius: 50%;
  display: block;
  margin: 0 auto;

  box-shadow: var(--black) -4px 4px;
}

.hashtag {
  margin: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

nav {
  padding: 10px;
}
nav li {
  display: inline-block;
}

.presentation {
  width: clamp(300px, 50%, 500px);
  margin: 10px auto;
}

.presentation p {
  text-align: center;
  font-size: medium;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.buttons {
  width: clamp(150px, 40%, 280px);
  margin: 20px auto;
}

.btn {
  display: block;
  padding: 10px;

  margin: 20px auto;

  background-color: var(--accent-color);
  border-radius: 8px;
  /* border: 2px solid var(--black); */

  color: var(--black);

  font-weight: bold;
}

.btn--short {
  width: 80%;
}

.btn:hover {
  box-shadow: var(--black) -8px 8px 8px;
}

footer {
  margin: 0 auto;
  width: clamp(300px, 50%, 500px);

}

hr {
  border: 1px solid var(--white);
}
